pianobar/pianobar-git
gnuradio/gnuradio-*.tar.gz
gr-osmosdr/gr-osmosdr-*.tar.gz
gr-osmosdr/hello_sdr.grc
gr-osmosdr/top_block.py
puzzles/puzzles-*.tar.xz
rtl-sdr/rtl-sdr-git.tar.gz
rtl-sdr/rtl-sdr-git/
tilda-cvs/tilda-cvs.tar.gz
tilda-cvs/tilda
olsrd/olsrd*.tar.bz2
test.py
testing
Coin/Coin-*.tar.gz
avr-gcc/gcc-*.tar.bz2
fltk13/fltk-*.tar.gz
kismet/kismet
olsrd/olsrd
pianobar/pianobar-new
pianobar/pianobar-old
pianobar/pianobar
schroot/schroot*.tar.xz
fldigi/fldigi-err.log
perl-gtk2/
retroshare/retroshare-svn/
distribute/distribute-*.tar.gz
scala/scala-*.tgz
apache-ivy/apache-ivy-*-bin.tar.gz
chirp/chirp.hg
ax25-apps/*.tar.xz
ax25-lib/*.tar.xz
ax25-tools/*.tar.xz
xastir/xastir-*.tar.gz
xastir/xastir-*/*
ax25-lib/libax25-*/*
ax25-tools/ax25-tools-*/*
*~
direwolf/direwolf-0.8*
gpsbabel/gpsbabel-*.tar.*
chirp/chirp-daily-*.tar.*
chirp/chirp
wsjtx/trunk
wsjtx/wsjtx
openscad/openscad-*/
openscad/openscad-*.tar.*
gqrx/gqrx
OpenCASCADE/OpenCASCADE652.tar.gz
chirp/chirp
fftw3/fftw3
haskell-platform/haskell-platform.tar.gz
smc/smc*.tar.?z*
xbmc/*.tar.?z*
xbmc/*.t?z
FreeCAD/*.tar.?z*
